<md-card class="example-card">
  <md-card-header>
    <md-card-title><h4 color="primary">{{selectedItem.name}}</h4></md-card-title>
  </md-card-header>
  <md-card-content>
    <form [formGroup]="myForm" class="example-form">
      <md-form-field class="example-full-width">
        <input mdInput placeholder="name" aria-label="Name" formControlName="name">
      </md-form-field>
      <md-form-field class="example-full-width">
        <textarea mdInput placeholder="description" aria-label="Description" formControlName="description">
        </textarea>
      </md-form-field>
      <md-form-field class="example-full-width">
        <input mdInput placeholder="remark" aria-label="Remark" formControlName="remark">
      </md-form-field>
      <md-form-field class="example-full-width">
        <input mdInput placeholder="Choose a date" [mdDatepicker]="picker" aria-label="Date" formControlName="date">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        <md-datepicker #picker></md-datepicker>
      </md-form-field>

      <div formGroupName="address">
        <div fxLayout="row">
          <md-form-field class="example-full-width">
            <input mdInput placeholder="street" aria-label="Street" formControlName="street">
          </md-form-field>
          <md-form-field class="example-full-width">
            <input mdInput placeholder="city" aria-label="City" formControlName="city">
          </md-form-field>
        </div>
        <div fxLayout="row">
          <md-form-field class="example-full-width">
            <input mdInput placeholder="state" aria-label="State" formControlName="state">
          </md-form-field>
          <md-form-field class="example-full-width">
            <input mdInput placeholder="zipcode" aria-label="Zip Code" formControlName="zipcode">
          </md-form-field>
        </div>
      </div>
      <md-form-field class="example-full-width">
        <input mdInput placeholder="location" aria-label="Location" formControlName="location">
      </md-form-field>
      <md-form-field class="example-full-width">
        <input mdInput placeholder="tags" aria-label="Date" formControlName="tags">
      </md-form-field>
      <md-form-field class="example-full-width">
        <input mdInput placeholder="Users" aria-label="Users" formControlName="users">
      </md-form-field>
      <md-form-field class="example-full-width">
        <input mdInput placeholder="Image Url" aria-label="Image Url" formControlName="urlImage">
      </md-form-field>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" (click)="submitForm()">Save</button>
  </md-card-actions>
</md-card>
