<h1 md-dialog-title>Hi {{data.userInfo.displayName}}</h1>
<div md-dialog-content style="height: 400px">
  <p>Are you sure to register for this event ?</p>
  <md-card  class="example-card" >
    <md-card-header>
      <md-card-title><b>{{data.event.name}}</b></md-card-title>
      <md-card-subtitle>{{data.event.date | date}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{data.event.urlImage}}">
    <md-card-content>
      <p md-line>{{data.event.description | textfilter: [200, ' ... more']}}</p>
    </md-card-content>
  </md-card>
</div>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="yes()" tabindex="2" color="primary">Yes sure</button>
  <button md-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
</div>
