<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav" mode="side" opened="true" >
    <md-nav-list  *ngIf="!(user | async)?.uid" >
      <a  md-list-item *ngFor="let item of plinks" class="sidenav-link" href="{{item.link}}">
        <md-icon md-list-icon color="primary">{{item.icon}}</md-icon>
        <span class="title" md-line>{{item.title}}</span>
      </a>
    </md-nav-list>
    <md-nav-list  *ngIf="(user | async)?.uid" >
        <a  md-list-item *ngFor="let item of links" class="sidenav-link" href="{{item.link}}">
          <md-icon md-list-icon color="primary">{{item.icon}}</md-icon>
          <span class="title" md-line>{{item.title}}</span>
        </a>
      </md-nav-list>
  </md-sidenav>
  
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

