
<div class="example-scrolling-content"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="100"
  (scrolled)="onScroll()">
  <md-list>
    <h3 md-subheader>Event List ({{data.length}})</h3>
    <div class="example-header">
      <md-form-field floatPlaceholder="never">
        <input mdInput #filter placeholder="Filter keyword">
      </md-form-field>
      <button md-icon-button (click)="filter.value=''">
        <md-icon class="md-24" color="warn">clear</md-icon>
      </button>
      <button md-icon-button (click)="filterByKeyword(filter.value)">
        <md-icon class="md-24" color="primary">search</md-icon>
      </button>
    </div>
    <md-list-item *ngFor="let item of data; let i=index" class="listView" (click)="selectedItem(i)">
      <md-icon md-list-icon>event</md-icon>
      <h4 md-line color="primary">{{item.name | uppercase}}</h4>
      <h6 md-line>{{item.description | textfilter: [40, ' ... more']}}</h6>
      <p md-line > {{item.date | date}} </p>
      <p md-line>
        <md-chip-list >
          <md-chip *ngFor="let i of item.tags" color="primary">{{i}}</md-chip>
        </md-chip-list>
      </p>
    </md-list-item>
  </md-list>
</div>
